.formControl {
	width: 30%;
	margin: 0px auto 30px auto !important;
	display: flex !important;
}

.chart{
	width: 80%;
	margin: 20px auto;
}
.mapdiv{ 
	height: 400px; 
	width: 90%; 
	margin: 20px auto 0 auto; 
	overflow: hidden;
}
.marker{
	padding: 12px;
    color: red;
    background-color: rgb(241, 255, 179);
    width: 80px;
    text-align: center;
    border-radius: 5px;
}
.marker:hover {
	z-index: 10000;
	box-shadow: 2px 2px 10px rgba(255, 0, 0, 0.5);
}
.marker > img{
	height: 10px;
}

/* Data Cards { */
.confirmed {
	border-bottom: 5px solid rgba(255, 115, 0, 0.5);
}
.confirmed:hover {
	box-shadow: 2px 2px 10px rgba(255, 115, 0, 0.5) !important;
}

.active {
	border-bottom: 5px solid rgba(0, 0, 255, 0.5);
}
.active:hover {
	box-shadow: 2px 2px 10px rgba(0, 0, 255, 0.5) !important;
}

.recovered {
	border-bottom: 5px solid rgba(0, 255, 0, 0.5);
}
.recovered:hover {
	box-shadow: 2px 2px 10px rgba(0, 255, 0, 0.5) !important;
}
.newRecoveries {
	color: #4caf50 !important;
}

.deaths {
	border-bottom: 5px solid rgba(255, 0, 0, 0.5);
}
.deaths:hover {
	box-shadow: 2px 2px 10px rgba(255, 0, 0, 0.5) !important;
}
/* Data Cards } */



/* Footer { */
.footer {
	text-align: center;
	margin: 30px 0 0;
	padding: 20px 10px;
	background-color: black;
}
.socialIcon {
	margin: 10px;
	color: #fafafa;
    font-size: 30px;
}

/* Footer } */